<h2>List of Students (Lecturer's view):</h2>
<table class="table">
  <thead>
      <tr>
          <th scope="col">Index Number</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Faculty</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor='let student of students'>
          <th>{{ student.indexNo }}</th>
          <td>{{ student.firstName }}</td>
          <td>{{ student.lastName }}</td>
          <td>{{ student.facultyName }}</td>
      </tr>

  </tbody>
</table>
